.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_inside{
    margin: auto;
}
.login_inside form{
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: stretch;
}
.login input{
    height: 44px;
    border-radius: 100px;
    border: 1px solid #D9DFFF;
    background: #fff;
    padding: 0px 10px;
    color: #212A55;
    width: 100%;
    box-sizing: border-box;
}
.login button{
    width: 100%;
}
.login h2{
    text-align: center;
}
