.qr_main{
    width: 100%;
    max-width: 1180px;
    margin: 50px auto;
}

#qr_title{
    color: #212A55;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 80% */


}


#qr_main_back{
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.16px;
    margin: 0 0 40px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
#utilities_qr_content{
    margin-right: 10px;
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.16px;


}

#content {
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
    height: 33px;
    padding-left: 10px;
    padding-right: 10px;
}
.form-group{
    display: flex;
    gap: 10px;

}
.qr_main_img{
    width: 200px;
    height: auto;
    margin-top: 20px;
}


.utilities_qr_download {
    cursor: pointer;
    display: flex;
    padding: 0px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgba(131, 232, 65, 0.79);
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.16px;
    border-radius: 8px;
    border: 1px solid rgba(131, 232, 65, 0.79);
    background: white;
    text-decoration: none;
}
.utilities_qr_download:hover{
    border: 1px solid rgba(131, 232, 65, 0.25);
    background: rgba(131, 232, 65, 0.25);
}

