.online_now {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.online_now_picture {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid green;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    display: flex
;
    align-items: center;
    justify-content: center;
    color: #1d1d1f;
}
