.category{
    color: #212A55;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 93.75% */
}
.category_table{

}
.category_table tbody tr td{
    border: 1px solid #D9DFFF;
    padding: 10px 15px;
}
.category_table ul{
    margin: 0;
    margin-left: -20px;
}
.category input, .category select {
    height: 44px;
    border-radius: 100px;
    border: 1px solid #D9DFFF;
    background: #fff;
    padding: 0px 10px;
    color: #212A55;

}

.category_inputs{
    display: flex;
    gap:5px;
    margin-bottom: 10px;
}

.category_changes{
    margin-top: 40px;
    margin-bottom: 40px;
}
.category_table_title{
    margin-top: 40px;
}

