.login_main{
        width: 100%;
        max-width: 1180px;
        margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    min-height: 100vh;
}
#login_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    width: 250px;
}

#login_form input{
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
    height: 37px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
}
.login_form_submit{
    width: 100%;
    box-sizing: border-box;
    background: #9DAEFF;
    border: 1px solid #9DAEFF;
    color: white;
}
#login_img{
    width: 30%;
    margin-bottom: 10px;
    margin-top: -30px;
}


