.phone_main{
    width: 100%;
    max-width: 1180px;
    margin: 50px auto;
}

#phone_main_title{
    color: #212A55;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 80% */
    margin-bottom: 30px;

}
.phone_main_table_cell {
     width: 100%;
     border-radius: 12px;
     border: 1px solid #D9DFFF;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     box-sizing: border-box;
     padding: 0px 20px;
     margin-bottom: 10px;
}
.phone_main_table_text_info{
        color: #9DAEFF;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.phone_main_table_cell_contact{
    display: flex;
    gap:10px;
}
#phone_main_table{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: flex-end;
}
#phone_main_table input {
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
    height: 33px;
    padding-left: 10px;
    padding-right: 10px;
}
.phone_main_table_text_info_location{
    padding: 5px 7px;
    border-radius: 6px;
    background: #F3F5FF;
    text-align: center;
}
