.smm_main{
    width: 100%;
    max-width: 1180px;
    margin: 50px auto;
}

#smm_main_title{
    color: #212A55;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 80% */

}
#smm_main_table{
    margin-top: 10px;
    width: 100%;
}
.smm_main_table_cell{
    width: 100%;
    border-radius: 12px;
    border: 1px solid #D9DFFF;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 18px;
    margin-bottom: 10px;
}
.smm_main_table_social{
    width: 20px;
    height: auto;
}
.smm_main_table_id{
    color: #C9C9C9;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.16px;
}
.smm_main_table_text_info{
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.16px;
}
.smm_main_table_money{
    width: 24px;
    height: auto;
}
.smm_main_table_social_svg{
    width: 16px;
    height: auto;
    margin-left: 5px;

}
.smm_main_table_social_count{
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.16px;
    display: flex;
    text-align: end;
}


.smm_main_table_text_info_type{
    border-radius: 6px;
    background: #F3F5FF;
    color: #9DAEFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.16px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 16px;
}
.smm_main_table_control{
    width: auto;
    height: 36px;
}

.smm_main_table_post{
    height: 36px;
    width: 36px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.smm_main_btn{
    cursor: pointer;
    display: flex;
    padding: 0px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 225% */
    letter-spacing: 0.16px;
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
}
.smm_main_btn:hover{
    background: #dde3ff;
    border-color: #dde3ff;
}
.smm_main_btn_pressed{
    background: #dde3ff;
    border-color: #dde3ff;
}

#smm_main_table_options{
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

}
#smm_main_table_options input {
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
    height: 33px;
    padding-left: 10px;
    padding-right: 10px;

}
.smm_main_filtering_muiltiple_choice{
    display: flex;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
}
.smm_main_filtering_block_category{
    border-radius: 4px;
    border: 1px solid #9DAEFF;
    background: white;
    padding: 2px 10px;
    margin: 0 5px;
    display: flex;
    gap: 4px;
    }


#smm_main_options{
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    margin:20px 0px;
}


#smm_main_export_options{
    width: 100%;
    height: 80px;
    border-radius: 12px;
    border: 1px solid #9DAEFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 30px;
    margin-top: -10px;
    display: none;
    box-sizing: border-box;
    padding: 20px 20px;
    align-items: center;
    gap:10px;
}
#smm_main_export_options_block{
    width: 100%;
    height: 80px;
    border-radius: 12px;
    border: 1px solid #9DAEFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 30px;
    margin-top: -10px;
    display: none;
    box-sizing: border-box;
    padding: 20px 20px;
    align-items: center;
    gap:10px;
}
#smm_main_add{
    width: 100%;
    min-height: 80px;
    border-radius: 12px;
    border: 1px solid #9DAEFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 30px;
    margin-top: -10px;
    display: none;
    box-sizing: border-box;
    padding: 20px 20px;

    flex-direction: row;
    align-items: flex-start;
    gap:10px;
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.16px;
    justify-content: space-between;

}

#smm_main_add input{
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
    height: 33px;
    padding-left: 5px;
}
#smm_main_add_left_advenced{

}

#smm_main_filter{
    width: 100%;
    min-height: 80px;
    border-radius: 12px;
    border: 1px solid #9DAEFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: none;
    box-sizing: border-box;
    padding: 20px 20px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    gap:10px;
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.16px;
}

#smm_main_sort{
    width: 100%;
    min-height: 80px;
    border-radius: 12px;
    border: 1px solid #9DAEFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: none;
    box-sizing: border-box;
    padding: 20px 20px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    gap:10px;
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.16px;
}


.smm_popup_block.show {
    opacity: 1;
}
.smm_popup_block {
    width: 100%;
    height: 100%;
    background-color: rgba(166, 166, 166, 0.7);
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    overflow-y: auto;
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -ms-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
}
.smm_popup_block.show .smm_popup_block_inside {
    transform: translateY(0);
    opacity: 1;
}
.smm_popup_block_inside {
    box-sizing: border-box;
    border-radius: 12px;
    padding: 40px;
    background: #fff;
    width: 95vw;
    max-width: 900px;
    margin: 10vw 0 10vw 0;
    position: relative;
    color: #000000e0;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 20px;
    transform: translateY(30px);
    transition: transform 0.3s ease, opacity 0.6s ease;
    -webkit-transition: transform 0.3s ease, opacity 0.6s ease;
    -moz-transition: transform 0.3s ease, opacity 0.6s ease;
    -ms-transition: transform 0.3s ease, opacity 0.6s ease;
    -o-transition: transform 0.3s ease, opacity 0.6s ease;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.smm_popup_close_button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.smm_popup_block_inside{
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.16px;
}

#smm_main_add_left{
    display: flex;
    flex-direction: row;
    align-items:  center;
    gap: 10px;
}

.smm_main_add_input {
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 10px;
}
.smm_main_add_label{
    display: flex;
    width: 90px;
}
.smm_main_add_inside{
    display: flex;
    align-items: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


#smm_main_btn_add_data{
    margin-top: 20px;
}

.smm_main_table_post_big{
    height: 200px;
    width: auto;
    border-radius: 6px;
    margin: -100px 0% 0% -100%;
    display: none;
    z-index:999;
    position: absolute;
}
.smm_main_table_post_img {
    position: relative;
}
.smm_main_table_post_img:hover .smm_main_table_post_big{
    display: flex;
}


.smm_popup_block.show {
    opacity: 1;
}
.smm_popup_block {
    width: 100%;
    height: 100%;
    background-color: rgba(166, 166, 166, 0.7);
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    overflow-y: auto;
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -ms-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
}
.smm_popup_block.show .smm_popup_block_inside {
    transform: translateY(0);
    opacity: 1;
}

.smm_popup_block_inside {
    box-sizing: border-box;
    border-radius: 12px;
    padding: 40px;
    background: #fff;
    width: 95vw;
    max-width: 900px;
    margin: 10vw 0 10vw 0;
    position: relative;
    color: #000000e0;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 20px;
    transform: translateY(30px);
    transition: transform 0.3s ease, opacity 0.6s ease;
    -webkit-transition: transform 0.3s ease, opacity 0.6s ease;
    -moz-transition: transform 0.3s ease, opacity 0.6s ease;
    -ms-transition: transform 0.3s ease, opacity 0.6s ease;
    -o-transition: transform 0.3s ease, opacity 0.6s ease;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.smm_popup_close_button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.smm_popup_block_inside{
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.16px;
}

.smm_popup_row select{
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 10px;
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.16px;
}
#smm_popup_edit_button, #smm_popup_delete_button{
    margin-top: 10px;
}
.smm_popup_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 45px;
}


.smm_main_add_label{
    display: flex;
    width: 90px;
}

.smm_popup_row select{
    width: 150px;
}


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Adjust width as needed */
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px; /* Adjust width as needed */
    height: 30px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px; /* Adjust width as needed */
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #edf0ff;
    transition: .4s;
    border-radius: 25px; /* Half of the height to make it fully rounded */
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px; /* 25px height minus 4px for padding */
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #9DAEFF;
}

input:checked + .slider:before {
    transform: translateX(25px); /* Adjust translation to match the width */
}

.textarea-comment {
    border: 1px solid #9DAEFF;
    padding: 8px;
    border-radius: 4px;
}



#smm_main_sorting{
    width: 100%;
    height: 80px;
    border-radius: 12px;
    border: 1px solid #9DAEFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: none;
    box-sizing: border-box;
    padding: 20px 20px;
    align-items: center;
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.16px;
    justify-content: space-between;
}
#smm_main_sorting select{
    width: 150px;
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
    height: 35px;
    padding-left: 5px;
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.16px;
}


#smm_main_filtering{
    width: 100%;
    min-height: 80px;
    border-radius: 12px;
    border: 1px solid #9DAEFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: none;
    box-sizing: border-box;
    padding: 20px 20px;
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.16px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}
.smm_main_filtering_bold{
    font-weight:600;
    margin-right: 10px;
    width: 100px;
}
.smm_main_filtering_block{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
   align-items: center;
    gap:2px;

}


.smm_main_filtering_block input[type="date"] {
    width: 150px;
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
    height: 35px;
    padding-left: 5px;
}

.smm_main_filtering_block input[type="checkbox"] {
    border: 1px solid #9DAEFF;
}

#smm_main_add_left_advenced_block{
    flex-direction: row;
    gap:10px;
    margin-top: 10px;
    align-items: center;
}
#smm_main_add_left_advenced_block select{
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
    height: 38px;
    padding-left: 5px;
    padding-right: 10px;
    color: #9DAEFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.16px;
}


.smm_popup_row_post{
    width: 48%;
    border-radius: 12px;
}

#info_popup_inside{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#info_popup_inside_left{
    width: 48%;
}



.loading-animation {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#smm_main_add_option_plus{
    display: flex;
    gap: 10px;
}

.smm_popup_row_btns{
    margin-top: 10px;
}

.update_operators_select{
        border-radius: 8px;
        border: 1px solid #9DAEFF;
        background: white;
        height: 35px;
        padding-left: 5px;
        margin-bottom: 10px;
        color: #9DAEFF;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.16px;
    width: 150px;

}
.update_operators_input{
    border-radius: 8px;
    border: 1px solid #9DAEFF;
    background: white;
    height: 33px;
    padding-left: 5px;
    width: 40px;
}
.update_operators_block{
    display: flex;
    gap:10px;
    align-items: flex-start;
}
